@use "variables.scss" as variables;
@use "mixins.scss" as mixins;

* {
  box-sizing: border-box;
  font-family: variables.$mainFont;
}
body {
  margin: 0 auto;
}
.headerContainer {
  background-color: variables.$headerBackgroundColor;
  color: white;
}
nav {
  width: 100%;
  max-width: 1640px;
  margin: 0 auto;
  height: 50px;
  @include mixins.header;
  padding: 0 20px;

  .phoneNumber {
    font-weight: bold;
    font-size: variables.$textSize;
    cursor: pointer;
  } 

  .menuItems {
    max-width: 780px;
    width: 100%;
    @include mixins.positioning;

    .menu-item {
      @include mixins.positioning;
      cursor: pointer;

      .menuTitle {
        font-weight: variables.$headerFontWeight;
        font-size: variables.$textSize;
        color: white;
      }
      .catalogIcon {
        @include mixins.icons(20px);
      }

      .arrowIcon {
        @include mixins.icons;
      }
    }
  }

  .accountManagement {
    @include mixins.positioning;
    max-width: 175px;
    width: 100%;
    font-size: variables.$textSize;

    .accIcon {
      @include mixins.icons;
    }

    .accountAction {
      cursor: pointer;
    }
  }
}
