@use "../../mixins.scss" as mixins;
@use "../../variables.scss" as variables;

.cartModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.cartModalContent {
  background: hsl(44, 21%, 95%);
  padding: 30px;
  border-radius: variables.$itemBorderRadius;
  width: 90%;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;

  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }

  .cartList {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      margin-right: 10px;
      border-radius: variables.$itemBorderRadius;
    }

    .cartItemDetails {
      flex: 1;
    }

    .quantityContainer {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 15px;

      .quantityBtn {
        border: 1px solid #ccc;
        padding: 4px 8px;
        background: #D8C4B6;
        border: none;
        cursor: pointer;
        transition: 0.2s ease;
        border-radius: variables.$itemBorderRadius;

        &:hover:enabled {
          background: #A27B5C;
          color: white;
        }

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }

      .quantityInput {
        width: 50px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 4px;
      }
    }

    .removeButton {
      @include mixins.icons();
      background: transparent;
      border: none;
      cursor: pointer;
      margin-left: 10px;
    }
  }

  .cartSummary {
    margin-top: 20px;

    p {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .checkoutButton {
      background: variables.$primaryColor;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      border-radius: variables.$itemBorderRadius;
      margin-right: 10px;
    }

    .clearCartButton {
      background: #B85042;
      color: #fff;
      border: none;
      padding: 10px;
      cursor: pointer;
      border-radius: variables.$itemBorderRadius;
    }
  }
}
