@use "../../variables.scss" as variables;
@use "../../mixins.scss" as mixins;

.accountManagement {
  text-align: center;
  font-size: variables.$textSize;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 5px 5px;
  border-radius: variables.$itemBorderRadius;
  max-width: 250px;
  margin-left: 5px;

  .accIcon {
    @include mixins.icons;
    margin: 0;
  }

  .accountAction {
    cursor: pointer;
    font-size: 14px;
    opacity: .6;
  }

  &:hover {
     background: rgba(white, 0.1);
     text-shadow: 0 0 5px rgba(white, 0.3);
   }
}
      
       
