@use "../../variables.scss" as variables;
@use "../../mixins.scss" as mixins;

.logoContainer {
  cursor: pointer;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  .logoImage {
    width: 135px;
    height: 80px;
    object-fit: contain;
  }

  @media (max-width: 1240px) {
    .logoImage {
      width: 110px;
    }
  }
}
