@use "../../variables.scss" as variables;
@use "../../mixins.scss" as mixins;

.search-bar-wrapper {
  max-width: 350px;
  margin: 0 auto;

  .search-bar {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    padding: 0.5rem;

    input {
      flex: 1;
      height: 36px;
      padding: 0.75rem 1rem;
      font-size: variables.$textSize;
      border: none;
      outline: none;
      border-radius: variables.$itemBorderRadius;
      transition: border-color 0.2s ease-in-out;

      &:focus {
        border-color: #808080;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      padding: 0 1rem;
      background-color: variables.$primaryColor;
      color: #fff;
      border: none;
      border-radius: variables.$itemBorderRadius;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: #2c3e5a;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
      }

      &:active {
        transform: scale(0.98);
      }

      svg {
        display: block;
      }
    }
  }
}

/* Stil toast custom doar pentru SearchBar */
.custom-toast {
  background-color: #F5EFE7;
  padding: 0.75rem 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.custom-toast-body {
  margin: 0;
  font-weight: 500;
}

.custom-toast-progress {
  background: #ff4d4f;
}

@media (max-width: 1240px) {
  .search-bar-wrapper {
    .search-bar {
      .searchInput {
        width: 150px;
      }
      // .submit {
      //   // padding: 0 
      // }
    }
  }
}