@use "../../variables.scss" as variables;
@use "../../mixins.scss" as mixins;

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.bm-menu-wrap {
  height: 100dvh;
  top: 0;
}

.bm-burger-button {
  position: sticky;
  width: 30px;
  height: 24px;
  right: 20px;
  top: 20px;
}

.bm-burger-bars {
  background: variables.$navBackgroundColor;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  top: 15px;
  right: 15px;
  
  .bm-cross {
    background: #fff;
    height: 24px;
    width: 3px;
  }
}

.bm-menu {
  background: variables.$navBackgroundColor;
  padding: 2em 2em 0;
  font-size: 1rem;
  height: 100dvh;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  
  @media (max-width: 400px) {
    padding: 1.5em 1em 0;
    font-size: 1em;
  }
}

.burger-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.bm-item-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

.bm-menu a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  transition: color 0.3s ease;

  &:hover {
    color: #fff;
  }
}

.burger-switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;

  .switcher-left,
  .switcher-right {
    flex: 1;
    display: flex;
    align-items: center;
  }

  button {
    background: transparent;
    border: none;
    color: #F5EFE7;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    line-height: normal;
    display: flex;
    align-items: center;
    
    @media (max-width: 400px) {
      padding: 0.5rem;
      font-size: 0.9rem;
    }

    &.active {
      border-bottom: 2px solid #DCD7C9;
      font-weight: 600;
      color: #fff;
    }

    &:hover {
      color: #fff;
    }
  }
}

.burger-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: opacity 0.3s ease;

   a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;

    &:hover {
      opacity: 0.85;
    }
  }
}

.burger-footer {
  margin-bottom: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-bottom: env(safe-area-inset-bottom);

  .accountManagement {
    // display: inline;
    .accIcon {
      stroke: rgba(255, 255, 255, 0.8);
    }
  }
}

.burger-contacts {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  a {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    padding: 6px 10px;
    border-radius: variables.$itemBorderRadius;
    transition: all 0.2s ease;
    text-decoration: none;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      color: #fff;
    }
  }
}

.burgerPhoneNumber {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  padding: 6px 10px;
  border-radius: variables.$itemBorderRadius;
  transition: all 0.2s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
}
