@use "../../variables.scss" as variables;
@use "../../mixins.scss" as mixins;

.productPage {
  @include mixins.contentContainer(0);
  
  @media (max-width: 995px) {
    margin-top: 70px;
  }

  .productImage {
    border-radius: variables.$itemBorderRadius;
    max-height: 500px;
    object-fit: cover;
  }

  .productName {
    @include mixins.sectionTitle;
    color: variables.$textColor;
  }

  .productPrice {
    font-size: 1.5rem;
    font-weight: 600;
    color: variables.$primaryColor;
  }

  .productDescription {
    font-size: 1rem; // 16px || variables.$textSize
    color: variables.$textColor;
  }

  .quantityContainer {
    display: flex;
    align-items: center;
    gap: 10px;

    .quantityBtn {
      background: #D8C4B6;
      border: none;
      width: 40px;
      height: 40px;
      font-size: 1.25rem;
      color: variables.$navBackgroundColor;
      border-radius: 4px;
      transition: 0.2s ease;

      &:hover:enabled {
        background: #A27B5C;
        color: white;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .quantityInput {
      width: 60px;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 5px;
      font-size: 1rem;
    }
  }

  .addToCartBtn {
    cursor: pointer;
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    background-color: variables.$primaryColor;
    color: #fff;
    border-radius: variables.$itemBorderRadius;
    transition: all 0.3s ease;
    font-weight: 600px;
    letter-spacing: 0.5px;

    &:hover {
      background-color: #2c3e5a;
      box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}