@use "../../mixins.scss" as mixins;
@use "../../variables.scss" as variables;

.contactsBG {
  // background-color: hsl(220, 42%, 95%);
  padding: 40px 0;
  margin-top: 100px;
  
  .contactsContainer {
    @include mixins.contentContainer(0);
    display: flex;
    flex-wrap: wrap; // responsive for mobile
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    .contactsLeftSide {
      flex: 1;
      min-width: 280px;

      .contactsTitle {
        @include mixins.sectionTitle;
        margin-bottom: 20px;
      }

      .phoneNumber {
        display: block;
        font-size: 18px;
        margin-bottom: 10px;
        color: variables.$textColor;
      }

      .address {
        display: block;
        font-size: 16px;
        margin-bottom: 20px;
        color: variables.$textColor;
      }

      .scheduleSection {
        margin-bottom: 20px;

        .scheduleTitle {
          font-size: 18px;
          font-weight: 500;
          display: block;
          margin-bottom: 5px;
          color: variables.$primaryColor;
          opacity: .6;
        }

        .schedule {
          display: flex;
          flex-direction: column;
          gap: 4px;
          span {
            font-size: 16px;
            color: variables.$textColor;
          }
        }
      }

      .socialMedia {
        display: flex;
        gap: 15px;

        img {
          @include mixins.icons(32px);
          margin: 0;
          cursor: pointer;
          transition: transform 0.2s ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .contactsRightSide {
      flex: 1;
      min-width: 300px;

      .map-container {
        width: 100%;
        height: 400px;

        iframe {
          width: 100%;
          height: 100%;
          border: none;
          border-radius: 10px;
          box-shadow: 0 4px 12px rgba(0,0,0,0.15);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .contactsContainer {
    gap: 40px;
    flex-direction: column;

    .contactsLeftSide {
      width: 100%;
    }

    .contactsRightSide {
      width: 100%;

      .map-container {
        width: 100%;
        height: 300px;
      }
    }
  }
}

@media (max-width: 576px) {
  .contactsContainer {
    .contactsLeftSide {
      width: auto;

      .contactsTitle, .phoneNumber, .address {
        text-align: center;
      }
      .scheduleSection {
        .scheduleTitle{
          text-align: center;
        }
        .schedule {
          text-align: center;
        }
      }
      .socialMedia {
        justify-content: center;
      }
    }
  }
}
