@use "../../variables.scss" as variables;
@use "../../mixins.scss" as mixins;

.introBlockContainer {
  margin: 0 auto;

  .introBlockBG {
    background-image: var(--background-image-url);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: right center;
    min-height: 100vh;
    color: white;
    overflow: hidden;
    position: relative;

    .introBlock {
      overflow: visible;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include mixins.headerWidth;
      padding-left: 20px;
      height: 100vh;

      .introLeftSection {
        z-index: 2;
        max-width: 550px;
        width: 100%;
        display: flex;
        flex-direction: column;
        vertical-align: center;
        gap: 24px;

        .introTitle {
          @include mixins.headerTitle;
          font-size: 75px;
        }

        .introText {
          @include mixins.headerText;
        }

        .introBlockBtns {
          @include mixins.positioning;
          justify-content: flex-start;
          gap: 24px;
          flex-wrap: wrap;

          .orderBtn {
            @include mixins.button(variables.$navBackgroundColor, #fff);

            &:hover {
              background-color: darken(variables.$navBackgroundColor, 5%);
            }
          }

          .exploreBtn {
            @include mixins.button(transparent, variables.$navBackgroundColor);
            border: 1px solid variables.$navBackgroundColor;

            &:hover {
              background-color: rgba(variables.$primaryColor, 0.05);
              border-color: darken(variables.$primaryColor, 10%);
            }
          }
        }
      }
    }
  }

  // @media (min-width: 1190px) and (max-width: 2000px) {
  //   .introBlockBG {
  //     background-size: 75%;

  //     .introBlock {
  //     }
  //   }
  // }

  @media (max-width: 1189px) {
    .introBlockBG {
      background-size: cover;
      background-position: center;
      min-height: 100vh;
      padding: 0;
      display: flex;
      align-items: center;

      .introBlock {
        height: auto;
        padding: 0;
        justify-content: center;
        
        .introLeftSection {
          background-color: rgba(255, 255, 255, 0.5);
          backdrop-filter: blur(10px);
          padding: 20px;
          border-radius: variables.$itemBorderRadius;
          align-items: center;
          text-align: center;
          display: flex;
          max-width: 90%;

          .introTitle {
            font-size: 65px;
          }
          .introText {
            font-size: 40px;
          }
        }
      }
    }
  }

  // Tablets (<=998px)
  @media (max-width: 998px) {
    .introBlockBG {
      background-size: cover;
      background-position: center;

      .introBlock {
        padding-right: 0;
        flex-direction: column;
        text-align: center;
        gap: 2rem;

        .introLeftSection {
          align-items: center;

          .introTitle {
            font-size: 42px;
          }

          .introText {
            font-size: 20px;
          }

          .introBlockBtns {
            justify-content: center;
          }
        }
      }
    }
  }

  // Phones (<=576px)
  @media (max-width: 576px) {
    .introBlockBG {
      .introBlock {
        padding: 30px 10px;

        .introLeftSection {
          gap: 16px;

          .introTitle {
            font-size: 28px;
          }

          .introText {
            font-size: 14px;
          }

          .introBlockBtns {
            gap: 16px;

            .orderBtn,
            .exploreBtn {
              padding: 10px 20px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

